<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evalute the News!</title>
    </head>

    <body>

        <header>
            <h1 id = "headline">Evaluate the News!</h1>
            <h2 id = "subtitle">Enter a link to an article below to get an evaluation of the overall sentiment of the text! </h2>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Enter a link here...">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:<br></strong>
                <div id="form__results"></div>

                <div id="confidence__results"></div>
            </section>
        </main>

        <footer>
            <p>Ibrahim Althani&copy; <br>Evaluating News NLP - Udacity Project 4</p>
        </footer>

    </body>
</html>
