body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // https://cssgradient.io/gradient-backgrounds/
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

strong {
    margin: 1em;
    color: rgb(140, 255, 140);
}
#form__results{
    margin: 1em;
    display:flex;
    justify-items:center;
    color: rgb(255, 255, 255);
}

#form__results:hover{
    text-decoration: underline;
    text-decoration-color: green;
}
#confidence__results{
    margin:1em;
    display:flex;
    justify-items:center;
    color: rgb(255, 255, 255);
}

#confidence__results:hover{
    text-decoration: underline;
    text-decoration-color: green;
}